h1 {
    font-size: 40px;
    color: whitesmoke;
    font-family: monospace;
}
body{
    background-size :cover;
}
a {
background:white;
padding:10px;
border-radius:5px;
color: rgb(129, 2, 80);
text-decoration:none;
width:200px;
font-size:25px;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas {
     box-shadow: 10px 10px 10px grey;
     border-radius:10px;
}
body {
    background-position: center;
    background-size: cover;
}
